


body {

    background: linear-gradient(45deg, #b39ddb, #9c8fe6, #d1c4e9); /* Light purple gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container, .signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
  }
  
  input:focus {
    outline: none;
    border: 2px solid #b39ddb;
    background-color: #fff;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #b39ddb;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #9c8fe6;
  }
  
  p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
  }
  
  p a {
    color: #b39ddb;
    text-decoration: none;
    font-weight: bold;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
 
